@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'PT Serif', serif;
  color: rgb(72, 72, 72);
  font-size: 15px;
}

a {
  color: rgb(72, 72, 72);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  

}

h1 {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 32px;
  font-weight: bold;
  color: rgb(56,115,179);
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 22px;
  color: rgb(56,115,179);
  border-bottom: 1px solid rgb(56,115,179);
  padding-bottom: 5px;

}

h3 {
  font-size: 18px;
  margin-bottom: 3px;
}

.title {
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.wrapper {
  margin: 0 auto;
  padding: 20px 50px 0;
  border-radius: 4px;
}

.top {
  text-align: center;
}

.contact-details {
  max-width: 600px;
  margin: 10px auto;
}

.contact-details li {
  list-style: none;
  display: inline;
  line-height: 22px;
}

.contact-details li:not(:last-child)::after {
  content: "\00b7";
  margin: 0 .25em;
  font-weight: bold;
}

.contact-details li:last-child {
  border-right: none;
}

section {
  margin: 30px 0;
}

p {
  line-height: 20px;
}

table {
  width: 70%;
}

.skills__details {
  margin-bottom: 14px;
}

.skills__list {
  font-weight: 500;
}

.flex {
  display: table-row;
}

/* Will try to generalize everything with this section */
.section-object {
  margin-bottom: 20px;
}

.section-header {
  display: table;
  width: 100%;
}

.section-title {
  display: table-cell;
  width: 50%;
}

.section-extra-header {
  font-style: italic;
  display: table-cell;
  text-align: right;
  width: 50%;
}

.section-subtitle {
  display: table-cell;
  width: 50%;
}

.section-extra-subheader {
  font-style: italic;
  color: rgb(118, 118, 118);
  display: table-cell;
  width: 50%;
  text-align: right;
}

.section-body {
  padding-left: 20px;
  margin-top: 10px;
  list-style-type: circle;
}

.section-body-list {
  line-height: 20px;
}

