@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}

html{
  height: 0;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

a {
  color: rgb(120, 120, 120) !important;
  text-decoration: none;
}

h1 {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 32px;
  font-weight: bold;
  color: rgb(56,115,179);
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 22px;
  color: rgb(56,115,179);
  border-bottom: 1px solid rgb(56,115,179);
  padding-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-bottom: 3px;
}

.title {
  font-weight: 700;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 50px 0;
  border-radius: 4px;
}

.top {
  text-align: center;
}

.contact-details {
  max-width: 550px;
  margin: 10px auto;
  color: rgb(118, 118, 118);
  list-style-type: none;
}

.contact-details a {
  color: rgb(118, 118, 118);
}

.contact-details li {
  display: inline;
  line-height: 22px;
}

.contact-details li:not(:last-child)::after {
  content: "•";
  margin: 0 .25em;
  font-weight: bold;
}

section {
  margin: 20px 0;
}

p {
  line-height: 20px;
}

table {
  width: 70%;
}

.flex {
  display: table-row;
}

/* Will try to generalize everything with this section */
.section-object {
  margin-bottom: 15px;
}

.section-header {
  display: table;
  width: 100%;
}

.section-title {
  display: table-cell;
  width: 60%;
}

.section-extra-header {
  font-weight: bold;
  display: table-cell;
  text-align: right;
  width: 40%;
}

.section-subtitle {
  display: table-cell;
  width: 60%;
}

.section-extra-subheader {
  font-style: italic;
  color: rgb(72, 72, 72);;
  display: table-cell;
  width: 40%;
  text-align: right;
}

.section-body {
  padding-left: 20px;
  margin-top: 5px;
  list-style-type: circle;
}

.section-body-list {
  line-height: 20px;
}

